<li class="left clearfix block_user" id="{{ _id }}" {{#if socketId }}data-socket-id="{{ socketId }}"{{/if}}>
                     <span class="pull-left">
                     <img src="https://www.gravatar.com/avatar/{{ _id }}?s=32&d=identicon&r=PG" alt="user avatar" class="img-circle">
                     </span>
    <div class="body clearfix">
        <div>
            <span class="font-primary username">{{ username }}</span>
        </div>
        <div class="contact_sec">
            <span class="status_label label label-{{getStatusLabel status}} pull-right">{{ status }}</span>
        </div>
    </div>
</li>